<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="5.1.1" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="2.20.0" targetFramework="net48" />
  <package id="EPPlus" version="6.2.4" targetFramework="net48" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net48" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net48" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net48" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net48" />
  <package id="MaterialDesignColors" version="2.1.4" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="4.9.0" targetFramework="net48" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="2.3.2" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="3.0.4" targetFramework="net48" />
  <package id="NUnit" version="3.13.3" targetFramework="net48" />
  <package id="NUnit.ConsoleRunner" version="3.16.3" targetFramework="net48" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.7.1" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="4.5.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="TestStack.White" version="0.13.3" targetFramework="net48" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net48" />
  <package id="xunit.assert" version="2.4.2" targetFramework="net48" />
  <package id="xunit.core" version="2.4.2" targetFramework="net48" />
  <package id="xunit.extensibility.core" version="2.4.2" targetFramework="net48" />
  <package id="xunit.extensibility.execution" version="2.4.2" targetFramework="net48" />
  <package id="xunit.runner.visualstudio" version="2.4.5" targetFramework="net48" developmentDependency="true" />
</packages>